/* Media Header */
@media (max-width: 1150px) {
    .menuUl {
        display: none;
    }
}

@media (max-width: 750px) {
    .menuUlSvg {
        display: none;
    }

    .colMenu.two {
        margin-top: 60px;
    }
}

@media (max-width: 550px) {
    .rowMenu {
        padding-left: 20px;
    }
}