footer {
    width: 100vw;
    height: 100%;
    background: #1A1D27;

    z-index: -10;
}

.wrapperFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 50px 40px 90px;
}

.oneColFooter {
    max-width: 420px;
}

.titleColFooter {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 20px;
}

.addresColFooter {
    max-width: 420px;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    margin-bottom: 30px;
}

.infoColFooter {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.telephoneColFooter {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 10px;
}

.placeColFooter {
    width: 190px;

    color: #565860;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 20px;
}

.emailColFooter {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 30px;
}

.linksColFooter {
    display: flex;
    flex-direction: column;
}

.linkColFooter {
    color: #565860;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 15px;
}

.linkColFooter:last-child {
    margin-bottom: 0;
}

.titleTwoColFooter {
    color: #565860;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 20px;
}

.linksTwoColFooter {
    padding-left: 15px;
    margin-bottom: 35px;
}

.linkTwoColFooter {
    color: #565860;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 15px;
}

.linkTwoColFooter:last-child {
    margin-bottom: 0;
}

.threeColFooter {
    position: relative;
}

.versionThreeColFooter {
    width: 307px;
    height: 55px;
    flex-shrink: 0;

    display: flex;
    justify-content: start;
    align-items: center;

    padding-left: 30px;

    background: #20242E;

    margin-bottom: 30px;

    cursor: pointer;
}

.textThreeColFooter {
    width: 130px;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    margin-left: 30px;
}

.buttonThreeColFooter {
    position: relative;
    z-index: 2;

    width: 300px;
    height: 50px;
    flex-shrink: 0;

    display: flex;
    justify-content: start;
    align-items: center;

    padding-left: 20px;

    border-radius: 8px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);

    margin-bottom: 30px;

    cursor: pointer;
}

.buttonThreeColFooter:last-child {
    margin-bottom: 0;
}

.textBtnThreeColFooter {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-left: 20px;
}

.imgThreeFooter {
    position: absolute;
    bottom: -50px;
    right: 0;

    z-index: 1;
}

@media (max-width: 1100px) {
    /* Footer */
    .threeColFooter {
        margin-top: 60px;
    }
}