body {
    font-family: "Inter", sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

.wrapperBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container_wrapper {
    flex-grow: 1;
}

.container {
    width: 1440px;
    height: auto;

    margin: 0 auto;

    padding: 0 120px;
}

.container.info {
    width: 1320px;

    padding: 0px 60px 0 40px;
}

.txSt {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txStW {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}