/* One Blog */
.oneBlog {
    width: 100vw;
    height: 900px;

    display: flex;
    align-items: center;

    background: var(--Gradient, linear-gradient(95deg, #FFCB2F -5.32%, #F05934 93.35%));
}

.rowOneBlog {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colOneBlogOne {
    padding-left: 40px;
    width: 480px;
}

.titleOneBlog {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 35px;
}

.textOneBlog {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 85px;
}

.btnOneBlog {
    width: 300px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s ease-in-out 0s;

    cursor: pointer;
}

.btnOneBlog:hover {
    background: rgba(255, 255, 255, 0.5);
}

.btnOneBlog:hover .linkOneBlog {
    color: #000;
}

.linkOneBlog {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: all .3s ease-in-out 0s;

    cursor: pointer;
}

.oneBlogSchool {
    margin-right: -100px;
    width: 550px;
    height: 550px;
    position: relative;
}

.imgOneBlog {
    position: absolute;
    width: 550px;
    height: 550px;
    top: 0;
    left: 0;
    z-index: 10;
}

.ellipseOneBlog {
    position: relative;
    display: flex;
}

.ellipseOneBlog1 {
    position: absolute;
    top: -405px;
    left: -70px;

    width: 75px;
    height: 75px;
    flex-shrink: 0;
    fill: linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), #E1C691;
    filter: drop-shadow(0px 0px 40px #E2B58E);

    animation: orange-circle1 20s ease-in-out infinite;
}

.ellipseOneBlog2 {
    position: absolute;
    top: -205px;
    left: -50px;

    width: 150px;
    height: 150px;
    flex-shrink: 0;
    fill: linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), #E1C691;
    filter: drop-shadow(0px 0px 40px #E2B58E);

    animation: orange-circle2 10s ease-in-out infinite;
}
.ellipseOneBlog3 {
    position: absolute;
    top: -60px;
    left: 350px;

    width: 75px;
    height: 75px;
    flex-shrink: 0;
    fill: linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), #E1C691;
    filter: drop-shadow(0px 0px 40px #E2B58E);  

    animation: orange-circle3 12.5s ease-in-out infinite;
}

.ellipseOneBlog4 {
    position: absolute;
    top: -150px;
    left: 420px;
    z-index: 6;

    width: 75px;
    height: 75px;
    flex-shrink: 0;
    fill: linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), #E1C691;
    filter: drop-shadow(0px 0px 40px #E2B58E);

    animation: orange-circle4 20s ease-in-out infinite;
}

.ellipseOneBlog5 {
    position: absolute;
    top: -220px;
    left: 420px;
    z-index: 5;

    width: 150px;
    height: 150px;
    flex-shrink: 0;
    fill: linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), #E1C691;
    filter: drop-shadow(0px 0px 40px #E2B58E);

    animation: orange-circle5 25s ease-in-out infinite;
}

.ellipseOneBlog6 {
    position: absolute;
    top: -600px;
    left: 420px;

    width: 230px;
    height: 230px;
    flex-shrink: 0;
    fill: linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), #E1C691;
    filter: drop-shadow(0px 0px 40px #E2B58E);

    animation: orange-circle6 15s ease-in-out infinite;
}

.ellipseOneBlog7 {
    position: absolute;
    top: -600px;
    left: 0;

    width: 200px;
    height: 200px;
    flex-shrink: 0;
    fill: linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), linear-gradient(0deg, #E1C691 0%, #E1C691 100%), #E1C691;
    filter: drop-shadow(0px 0px 40px #E2B58E);

    animation: orange-circle7 10s ease-in-out infinite;
}


/* Animation */
@keyframes orange-circle1 {
    0% {
        top: -405px;
        left: -70px;
    }
    45% {
        top: -600px;
        left: 420px;
    }
    75% {
        top: -60px;
        left: 350px;
    }
    100% {
        top: -405px;
        left: -70px;
    }
}

@keyframes orange-circle2 {
    0% {
        top: -205px;
        left: -50px;
    }

    45% {
        top: -320px;
        left: 480px;
    }

    75% {
        top: -575px;
        left: -150px;
    }

    100% {
        top: -205px;
        left: -50px;
    }
}

@keyframes orange-circle3 {
    0% {
        top: -60px;
        left: 350px;
    }

    45% {
        top: -650px;
        left: 125px;
    }

    75% {
        top: -450px;
        left: -150px;
    }

    100% {
        top: -60px;
        left: 350px;        
    }
}

@keyframes orange-circle4 {
    0% {
        top: -150px;
        left: 420px;
    }

    45% {
        top: -175px;
        left: -75px;
    }

    75% {
        top: 0px;
        left: 200px;
    }

    100% {
        top: -150px;
        left: 420px;
    }
}

@keyframes orange-circle5 {
    0% {
        top: -220px;
        left: 420px;
    }

    45% {
        top: -405px;
        left: -70px;
    }

    75% {
        top: -610px;
        left: 300px;
    }

    100% {
        top: -220px;
        left: 420px;
    }
}

@keyframes orange-circle6 {
    0% {
        top: -600px;
        left: 420px;    
    }

    45% {
        top: -200px;
        left: 400px;
    }

    75% {
        top: -100px;
        left: -100px;
    }

    100% {
        top: -600px;
        left: 420px;
    }
}

@keyframes orange-circle7 {
    0% {
        top: -600px;
        left: 0;
    }

    45% {
        top: -305px;
        left: -100px;
    }

    75% {
        top: -100px;
        left: -100px;
    }

    100% {
        top: -600px;
        left: 0;
    }
}

/* Two Blog */
.twoBlogTitle {
    color: rgba(0, 0, 0, 0.90);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wrapperTwoBlog, .twoBlogTitle {
    margin: 70px 0 30px 40px;
}

.wrapperTwoBlog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    grid-auto-rows: minmax(100px, auto);
}

.twoBlogInfo1 {
    width: 475px;
    height: 250px;
    flex-shrink: 0;

    padding: 30px;

    border-radius: 16px;
    background: linear-gradient(106deg, rgba(51, 255, 102, 0.75) 24.14%, rgba(51, 255, 102, 0.00) 116.01%);
    box-shadow: 0px 32px 40px -30px rgba(0, 0, 0, 0.50);

    grid-column: 1;
    grid-row: 1;

    cursor: pointer;
}

.twoBlogInfo1Title, .twoBlogInfo3Title, .twoBlogInfo4Title {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.twoBlogInfo1Img {
    display: flex;

    position: relative;
}

.twoBlogInfo1Img1 {
    position: absolute;
    top: 25px;
    left: 40px;
}

.twoBlogInfo1Img2 {
    position: absolute;
    top: -60px;
    right: -10px;
}

.twoBlogInfo2 {
    width: 250px;
    height: 325px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 30px 40px 30px;

    border-radius: 16px;
    background: linear-gradient(338deg, rgba(255, 153, 102, 0.90) 39.4%, rgba(255, 153, 102, 0.00) 121.76%);
    box-shadow: 0px 32px 40px -30px rgba(0, 0, 0, 0.50);

    margin: 0 auto;
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    cursor: pointer;
}

.twoBlogInfo3 {
    width: 250px;
    height: 325px;
    flex-shrink: 0;

    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 51, 204, 0.70) 44.96%, rgba(255, 51, 204, 0.00) 160.77%);
    box-shadow: 0px 32px 40px -30px rgba(0, 0, 0, 0.50);

    margin: 0 auto;
    grid-column: 3 / 3;
    grid-row: 1 / 3;

    cursor: pointer;
}

.twoBlogInfo2Img {
    position: relative;
}

.twoBlogInfo2Img2 {
    position: absolute;
    top: 65px;
    left: -25px;
    z-index: 1;
}

.twoBlogInfo2Title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.twoBlogInfo3Title {
    text-align: center;
}

.twoBlogInfo4 {
    width: 250px;
    height: 325px;
    flex-shrink: 0;

    padding: 30px;

    border-radius: 16px;
    background: linear-gradient(333deg, rgba(0, 155, 255, 0.70) 10.13%, rgba(0, 155, 255, 0.00) 97.35%);
    box-shadow: 0px 32px 40px -30px rgba(0, 0, 0, 0.50);

    grid-column: 1 / 3;
    grid-row: 2 / 3;

    cursor: pointer;
}

.twoBlogInfo4Title {
    margin-top: 30px;
    text-align: center;
}

.twoBlogInfo5 {
    width: 475px;
    height: 250px;
    flex-shrink: 0;

    padding: 30px;

    margin: 75px 0 0 -165px;

    border-radius: 16px;
    background: linear-gradient(109deg, rgba(209, 165, 243, 0.75) 29.73%, rgba(245, 241, 255, 0.00) 108.43%);
    box-shadow: 0px 32px 40px -30px rgba(0, 0, 0, 0.50);

    grid-column: 2;
    grid-row: 2;
    
    cursor: pointer;
}

.twoBlogInfo5Img {
    text-align: right;
    padding: 0 30px 0 0;
    margin-top: -30px;
}

.twoBlogInfo6 {
    width: 250px;
    height: 325px;
    flex-shrink: 0;

    padding: 30px;

    margin: 100px auto;

    border-radius: 16px;
    background: var(--Gradient, linear-gradient(95deg, #FFCB2F -5.32%, #F05934 93.35%));
    box-shadow: 0px 32px 40px -30px rgba(0, 0, 0, 0.50);

    grid-column: 3 / 3;
    grid-row: 2 / 3;

    cursor: pointer;
}


.twoBlogInfo6Img {
    position: relative;
}

.twoBlogInfo6Img1 {
    padding: 50px 0 0 50px;
}

.twoBlogInfo6Img2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.twoBlogInfo7 {
    width: 475px;
    height: 250px;
    flex-shrink: 0;

    padding: 30px;

    margin-top: -200px;

    border-radius: 16px;
    background: linear-gradient(101deg, rgba(254, 216, 178, 0.75) 9.18%, rgba(225, 157, 243, 0.75) 100.83%);
    box-shadow: 0px 32px 40px -30px rgba(0, 0, 0, 0.50);

    cursor: pointer;
}

.twoBlogInfo7Img {
    text-align: right;
    padding: 0 20px 0 0;
    margin-top: -20px;
}